.page {
	font-family: 'Montserrat', sans-serif;
	background-color: $color-bg;
	color: $color-font;
	overflow: hidden;
	height: 100%;
	font-size: 16px;
}

// .page_wrapper {
// 	position: relative;
// 	width: 100%;
// 	height: 100%;
// 	overflow: hidden;
// }

.page_wrapper {
	position: relative;
	width: 100%;
	height: 100vh;
	box-shadow: 0 0 45px 5px rgba(0,0,0,0.85);
	overflow: hidden;
}

.page_inner {
	position: relative;
	width: 1440px;
	max-width: 90%;
	height: 100%;
	margin: 0 auto;
}

a {
	text-decoration: none;
}


.navi li {
	cursor: pointer;
}