// bootstrap grid
$grid-breakpoints: (
	xs: 0,
	sm: 768px,
	md: 992px,
	lg: 1200px,
	xl: 1600px
);

$container-max-widths: (
	sm: 768px,
	md: 920px,
	lg: 1200px,
	xl: 1920px
);

// colors
$color-bg: #0c0c0c;
$color-font: #fff;
$color-accent: #0f33ff;
$color-light-gray: #282828;
$color-white: white;