.page-slide {
	height: 100vh;
}
.page-slide-1-top {
	background: url(../img/slider-page-1-bgr.png) top right no-repeat;
	background-size: contain;
	border-bottom: 1px solid rgba(#fff, .1);
	padding-left: 15px;
	position: relative;
	margin-bottom: 35px;

	&:after {
		@extend %pseudo;
		height: 6px;
		width: 30px;
		bottom: -6px;
		left: 15px;
		background-color: $color-accent;
	}

	h1 {
		max-width: 480px;
		padding-top: 60px;
		margin-bottom: 55px;
	}

	.btn-main {
		margin-bottom: 100px;
	}
}

.page-slide-1-bottom {
	padding-left: 15px;
}