.btn-main {
	@extend %btn-base;
	position: relative;
	color: $color-white;
	font-size: 14px;
	padding: 9px 16px;
	font-weight: 700;
	opacity: 1;
	transition: .2s opacity .3s;

	&:before {
		@extend %pseudo;
		transition: .2s all;
		top: 0;
		left: 0px;
		right: 0px;
		height: 100%;
		background-color: $color-accent;
		z-index: 0;
	}

	&:hover {
		color: $color-white;
	}
}

.btn-main.btn-main--bgr_none {
	padding: 0;

	&:before {
		display: none;
	}
	&:hover {
		.btn-main__img{
			transform: translateX(4px);
		}
	}
}

.btn-main__header-btn {
	position: absolute;
	top: 18px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.btn-main--is_hidden {
	opacity: 0;
	z-index: -1;
}

.btn-main .btn-main__text, 
.btn-main .btn-main__img {
	position: relative;
	display: inline-block;
	z-index: 1;
}

.btn-main__img {
	margin: -3px 0 0 11px;
	width: 15px;
	height: 11px;
	transition: .2s transform;
}

.btn-inner {
	padding: 9px 12px;

	&:before {
		left: 22px;
		right: 0px;
		height: 100%;
	}

	&:hover:before {
		left: 0px;
	}
}