ul.side-nav
	li.side-nav__item.side-nav__item--is-active
		span.side-nav__title Home
	li.side-nav__item
		span.side-nav__title Works
	li.side-nav__item
		span.side-nav__title About
	li.side-nav__item
		span.side-nav__title Contact
	li.side-nav__item
		span.side-nav__title Hire us