.page-slide.d-flex.align-items-center
	.container-fluid.has-width-limit_1280
		.row
			.col-md-11
				.page-slide-1-top
					h1.title-main Your next interactive experience
					a(href="#!").btn-main
						span Hire us
						img(src="img/arrow-right.png", alt="", width="18", height="14")

				.page-slide-1-bottom
					.row
						.col-md-4 
							.text-widget
								h3.title-inner Metiew &amp;&nbsp;Smith
								p.normal-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed&nbsp;do
						.col-md-4 
							.text-widget
								h3.title-inner Fantasy interactive
								p.normal-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed&nbsp;do
						.col-md-4 
							.text-widget
								h3.title-inner Paul &amp;&nbsp;shark
								p.normal-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed&nbsp;do