section.page-slide
	.page__work-slider
		.js-work-slide.work-slider
			h2.text-page-title Selected work
			ul.work-slider__wrapper
				li.work-slider__item.work-slider__item--left
					.work-slider__img-wrapper
						img.work-slider__img(src="img/victory.jpg", alt="")
					a.work-slider__description-block(href="#")
						h3.work-slider__title.title-inner Victory
						span.work-slider__text.normal-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed&nbsp;do
				li.work-slider__item.work-slider__item--center
					.work-slider__img-wrapper
						img.work-slider__img(src="img/smith.jpg", alt="")
					a.work-slider__description-block(href="#")
						h3.work-slider__title.title-inner Metiew &amp;&nbsp;Smith
						span.work-slider__text.normal-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed&nbsp;do
				li.work-slider__item.work-slider__item--right
					.work-slider__img-wrapper
						img.work-slider__img(src="img/nowak.jpg", alt="")
					a.work-slider__description-block(href="#")
						h3.work-slider__title.title-inner Alex nowak
						span.work-slider__text.normal-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed&nbsp;do
			.work-slider__button.work-slider__button--next
			.work-slider__button.work-slider__button--prev