section.page-slide
	.contacts
		.page-container.page-container-contacts
			.modal
				address.modal__contacts-info Pawia &nbsp;5,31-154&nbsp;Krak&oacute;w, Polanrd
					|<a class="modal__email" href="mailto:ouremail@gmail.com">ouremail@gmail.com<a>
					|<a class="modal__phone" href="tel:+48126287560">+48 12&nbsp;628 75&nbsp;60</a>
				ul.modal__options
					li.modal__option-item
						a.modal__options-link(href="#") Bēhance
					li.modal__option-item
						a.modal__options-link.modal__options-link--bgr_img(href="#")
					li.modal__option-item
						a.modal__options-link.modal__options-link--transform_upper(href="mailto:ouremail@gmail.com") contact us 