section.page-slide
	.page-container
		.banner.about-banner
			.page-3__title-main
				h1.title-main.title-main__page-3 We 
					|<br> believe <span class="title-main__i-dot">i</span>n
					|<br> passionate
					|<br> people
			img.banner__img.about-banner__img(src="img/slider-page-3-bgr.png", alt="Девушка") 
			a(href="#!").btn-main.btn-main--bgr_none
				span.btn-main__text.btn-main__text--transform_upper career
				img.btn-main__img.btn-main__img--bgr_none(src="img/arrow-right.png", alt="", width="18", height="14")
		.about-options
			a.about-options__item(href="#")
				h3.about-options__title winners
			a.about-options__item(href="#")
				h3.about-options__title philosophy
			a.about-options__item(href="#")
				h3.about-options__title history