.page-slide.d-flex.align-items-center
	.container-fluid.has-width-limit
		.row
			.col-md-9.offset-md-2
				.page-slide-1-top
					h1.text-title-main.text-title-main--slide-1 Your next interactive experience
					a(href="#!").btn-main
						span Hire us
						img(src="img/arrow-right.png", alt="", width="18", height="14")

				.page-slide-1-bottom
					.row
						.col-md-4 
							.text-widget
								h3.text-title-sm Metiew &amp;&nbsp;Smith
								p.text-p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed&nbsp;do
						.col-md-4 
							.text-widget
								h3.text-title-sm Fantasy interactive
								p.text-p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed&nbsp;do
						.col-md-4 
							.text-widget
								h3.text-title-sm Paul &amp;&nbsp;shark
								p.text-p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed&nbsp;do