section.page-slide.page-slide--is-active
	.page-container
		.banner.intro-banner
			.page-1__title-main
				h1.title-main Your next 
					|<br> interactive
					|<br> experience
			a(href="#!").btn-main.btn-inner
				span.btn-main__text Hire us
				img.btn-main__img(src="img/arrow-right.png", alt="", width="18", height="14")
			img.banner__img.intro-banner__img(src="img/slider-page-1-bgr.png", alt="Космонавт")

		.text-widget
			.text-widget__item
				a(href="#").text-widget__link
					h3.text-widget__title Metiew &amp;&nbsp;Smith
					p.text-widget__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed&nbsp;do
			.text-widget__item
				a(href="#").text-widget__link
					h3.text-widget__title Fantasy interactive
					p.text-widget__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed&nbsp;do
			.text-widget__item
				a(href="#").text-widget__link
					h3.text-widget__title Paul &amp;&nbsp;shark
					p.text-widget__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed&nbsp;do