section.notification
	a.header-logo(href="#")
		img.header-logo__img(src="img/logo.png", alt="Логотип")
		span.header-logo__title Global
	p.notification__text Global has so&nbsp;much to&nbsp;offer that we&nbsp;must request you orient your device to&nbsp;portrait or&nbsp;find a&nbsp;larger screen. You won&rsquo;t be&nbsp;disappointed.
