.btn-main {
	@extend %btn-base;
	position: relative;
	color: #fff;
	font-size: 14px;
	padding: 9px 16px;
	font-weight: 500;
	opacity: 1;
	transition: .5s opacity;

	&:before {
		@extend %pseudo;
		transition: .2s all;
		top: 0;
		left: 0px;
		right: 0px;
		height: 100%;
		background-color: $color-accent;
		z-index: 0;
	}

	&:hover {
		color: #fff;
	}
}

.btn-main--is_hidden {
	opacity: 0;
	z-index: -1;
}

.btn-inner {
	padding: 13px 0;

	&:before {
		left: 10px;
		right: -10px;
		height: 100%;
	}

	&:hover:before {
		left: -10px;
	}
}

.btn-main .btn-main__text, 
.btn-main .btn-main__img {
	position: relative;
	display: inline-block;
	z-index: 1;
}

.btn-main__img {
	margin-left: 15px;
}