.nav-container {
	position: absolute;
	z-index: 1;
	display: flex;
	align-items: center;
	height: 100%;
	left: 0;
}

.navigation {
	height: 100%;
	display: flex;
	align-items: center;
	
	&:before {
		@extend %pseudo;
		top: 50%;
		left: 0;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 2px;
		height: 70%;
		max-height: 750px;
		background-color: $color-panel-nav;
		opacity: .35;
		z-index: 10;
	}
}

.side-nav {
	position: absolute;
	height: 70%;
	width: 70px;
	max-height: 750px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.side-nav__item {
	cursor: pointer;
	color: $color-white;
	list-style: disc inside;
	font-size: 6px;
	position: relative;
	transition: color .2s;

	&:before {
		position: absolute;
		color: $color-panel-nav;
		font-size: 13px;
		font-weight: 500;
		left: 10px;
		top: 3px;
		transition: transform ease-in-out .3s;
	}
}

$i: 5;
@while $i > 0 {
	.side-nav__item:nth-child(#{$i}):before { 
		content: '0#{$i}'; 
	}
	$i: $i - 1;
}

.side-nav__title {
	position: relative;
	top: 3px;
	left: 5px;
	color: $color-white;
	font-size: 14px;
	font-weight: 300;
	opacity: 0;
	visibility: hidden;
}

.side-nav__item--is-active {
	color: $color-accent;
}

.side-nav__item--is-active {
	&:before {
		transform: translateX(-38px);
		color: $color-white;
		font-weight: 500;
		transition-delay: 50ms;
	}
}

.side-nav__item--is-active .side-nav__title {
	opacity: 1;
	visibility: visible;
	font-weight: 500;
	transition: opacity .4s ease-in-out .1s;
}

@media (max-width: $lg) {
	.nav-container {
		display: none;
	}
}