extends layouts/home

block variables
	-var bodyClass="page"

block header
	a.header-logo(href="#")
		img.header-logo__img(src="img/logo.png", alt="Логотип")
		span.header-logo__title Global
	a(href="#").btn-main.btn-main__header-btn.btn-main--is_hidden
		span.btn-main__text Hire us

block content
	div.main-menu-btn
		span.main-menu-btn__item.main-menu-btn__top
		span.main-menu-btn__item.main-menu-btn__middle
		span.main-menu-btn__item.main-menu-btn__bottom
	aside.nav-container
		nav.navigation
			include partials/aside-nav
	main.js-page-slider.page-slider
		include partials/page-1
		include partials/page-2
		section.page-slide 3
		section.page-slide 4
		section.page-slide 5