extends layouts/home

block variables
	-var bodyClass="page"

block content
	main.js-page-slider.page-slider
		div
			include partials/page-1
		div
			include partials/page-2
		div.page-slide 3
		div.page-slide 4
		div.page-slide 5