extends layouts/home

block variables
	-var bodyClass="page"

block content
	div(class=`${bodyClass}_inner`)
		.container-fluid 
			.row
				.col-md-1
					aside
						nav.navigation
				.col-md-10
					main.js-page-slider.page-slider
						div
							include partials/page-1
						div.page-slide 2
							//- include partials/page-2
						div.page-slide 3
						div.page-slide 4
						div.page-slide 5